<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pt-BR">
<head>
  {% include metatags.html %}
  {% include stylesheets.html %}
  <title>{{ page.title }} - Rafael Souza</title>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><a href="/">Rafael Souza</a></h1>
    </div>
    <div id="content">
      <h2>{{ page.title }}</h2>
      {{ content }}
    </div>
  </div>
</body>
</html>